
body{
    background-color: #C1ECE4;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    
}

h1, h2{
    color: #3AA6B9;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Raleway', sans-serif;
    text-shadow: horizontal-offset vertical-offset blur color;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}


button{
    border: none;
    background-color: #FFD0D0;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Raleway', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    height: 2rem;
    border-radius: 5px;
    color:rgba(0,0,0,0.6);
    font-weight: 700;
    
    
}

.rollTheDice{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.playerDices{
    display:flex;
    justify-content: center;
    align-items: center;
}

.player1Container, .player2Container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 10%;
    height: 10%;
    margin-bottom: 5px;
}

#dicePlayer1 , #dicePlayer2{
    width: 50%;
    height: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10%;
}

@media only screen and (max-width: 600px) {
    /* Your styles for phone-sized screens or smaller go here */
    .playerDices{
        flex-direction: column;
    }
    #dicePlayer1 , #dicePlayer2{
        width: 10rem;
        height: 10rem;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        border-radius: 10%;
    }

    img{
        width: 2rem;
        height: 2rem;
        margin-bottom: 5px;
    }

    body{

        height: 80vh;
        
    }
}